<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
			<link href="assets/css/fontawesome.bundle.min.css" rel="stylesheet"/>
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/bootstrap.bundle.min.js"></script>
		{% endblock %}
	</body>
</html>
