{% if pagination.getTotalItemCount > 1 %}

{% if sorted %}
{% set title = title ~ ' <svg xmlns="http://www.w3.org/2000/svg" height="20" fill="currentColor" ' %}
{% if direction == 'desc' %}
{% set title = title ~ 'viewBox="0 -1 16 18"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />' %}
{% else %}
{% set title = title ~ 'viewBox="0 0 16 18"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />' %}
{% endif %}
{% set title = title ~ '</svg>' %}
{% endif %}

<a {% for attr, value  in options %} {{ attr }}="{{ value }}" {% endfor %} style="white-space: nowrap;">
    {{ title|raw }}
</a>
{% else %}
{{ title }}
{% endif %}